.vacanciesList {
  margin-top: 105px;
}

.vacanciesListContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 65px;
  column-gap: 30px;
}

.loadMoreButtonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 56px;
}

.loadMoreButton {
  margin-bottom: 104px;
  width: 141px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  border: none;
  background: #5964e0;

  color: #fff;
  text-align: center;
  font-family: "Kumbh Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  &:hover {
    background: #939bf4;
    transition: 0.4s;
  }
}

@media (max-width: 1439px) {
  //1201
}

@media (max-width: 1200px) {
  //993
}

@media (max-width: 992px) {
  //769
  .vacanciesList {
    margin-top: 57px;
  }
  .vacanciesListContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 65px;
    column-gap: 11px;
  }
}

@media (max-width: 768px) {
  .loadMoreButton {
    margin-bottom: 40px;
  }
  //577
}

@media (max-width: 576px) {
  .vacanciesListContainer {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
}
